<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Colibo_Similarproducts>
            <version>0.0.1</version>
        </Colibo_Similarproducts>
    </modules>
    <global>
        <blocks>
            <similarproducts>
                <class>Colibo_Similarproducts_Block</class>
            </similarproducts>
        </blocks>
    </global>
</config>