<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Colibo_Sharewithsocial>
            <version>0.0.1</version>
        </Colibo_Sharewithsocial>
    </modules>
    <global>
        <blocks>
            <sharewithsocial>
                <class>Colibo_Sharewithsocial_Block</class>
            </sharewithsocial>
        </blocks>
    </global>
</config>