<?xml version="1.0"?>
<config>
    <modules>
        <Colibo_AffiliNet>
            <version>0.1.0</version>
        </Colibo_AffiliNet>
    </modules>
    <frontend>
        <routers>
            <affilinet>
                <use>standard</use>
                <args>
                    <module>Colibo_AffiliNet</module>
                    <frontName>affilinet</frontName>
                </args>
            </affilinet>
        </routers>
        <layout>
            <updates>
                <affilinet>
                    <file>affilinet.xml</file>
                </affilinet>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <affilinet>
                <class>Colibo_AffiliNet_Helper</class>
            </affilinet>
        </helpers>
        <blocks>
            <affilinet>
                <class>Colibo_AffiliNet_Block</class>
            </affilinet>
        </blocks>
    </global>
</config> 