<?xml version="1.0"?>
<config>
    <sections>
        <affilinet_api translate="label" module="affilinet">
            <label>AffiliNet API</label>
            <tab>colibo_settings</tab>
            <frontend_type>text</frontend_type>
            <sort_order>0</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <price_comparison translate="label">
                    <label>Shops Price Comparison</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <publisher_id translate="label">
                            <label>Publisher ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </publisher_id>
                        <product_webservice_password translate="label">
                            <label>Product Webservice Password</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </product_webservice_password>
                    </fields>
                </price_comparison>
            </groups>
        </affilinet_api>
    </sections>
</config>
