<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Colibo_Productfilters>
            <version>0.0.1</version>
        </Colibo_Productfilters>
    </modules>
    <frontend>
        <translate>
            <modules>
                <Colibo_Productfilters>
                    <files>
                        <default>Colibo_Productfilters.csv</default>
                    </files>
                </Colibo_Productfilters>
            </modules>
        </translate>
    </frontend>
    <global>
        <blocks>
            <productfilters>
                <class>Colibo_Productfilters_Block</class>
            </productfilters>
        </blocks>
    </global>
</config>