ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    background: #e6e6e6;
    color: inherit;
    font: 12px/1.5em Arial, Helvetica, sans-serif;
}

button {
    color: #fff;
}

dd, dt {
    line-height: 2em;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 600;
    line-height: 1.1;
    color: inherit;
}

#amazon-products-import dl {
    margin: 0;
}

#amazon-products-import .import-divider {
    text-align: center;
    margin: 55px 0;
}

#amazon-products-import .import-divider i {
    color: #f8801a;
    font-size: 24px;
}

#amazon-products-import select[multiple] option {
    border-bottom: 1px solid #eee;
    padding: 5px 7px;
}

#amazon-products-import select[multiple] option:last-child {
    border-bottom: none;
}

#amazon-products-import .amazon-logo {
    position: absolute;
    right: -15px;
    top: 50px;
}

.panel > .panel-heading {
    position: relative;
}

.results-block .panel-heading select,
.results-block .panel-heading button {
    vertical-align: middle;
    margin: -8px 0 0 10px;
    height: 34px;
}

.content-header-floating {
    display: none !important;
}

.block-eq {
    height: 217px;
}

.modal-dialog {
    overflow-y: initial !important
}

.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.amazon-info {
    margin: 20px 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.amazon-info dt,
.amazon-info dd {
    line-height: 35px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.jobs-monitor ul li:first-child {
    background: #eae0a7 !important;
}

.mCSB_inside > .mCSB_container {
    margin-right: 0px !important;
}

.mCSB_scrollTools {
    top: 35px !important;
    bottom: 5px !important;
}

.jobs-monitor ul {
    height: 176px;
    overflow: auto;
    width: 100%;
    display: block;
}

.jobs-monitor ul li {
    display: block;
    line-height: 30px;
}

.jobs-monitor ul li:nth-child(odd) {
    background: #f5f5f5;
}

form.search-form {
    margin: 20px 0;
}

.panel-body {
    padding: 10px 15px 0;
}

.add-ready-products .badge {
    background: #fff !important;
    color: #000 !important;
}

form.search-form.input-group-addon {
    padding: 12px 15px;
    background: none;
    border: 0;
}

form.search-form.input-group-addon + input.form-control {
    height: 40px;
    border-radius: 0;
    border-right: none;
    border-color: rgba(240, 173, 78, 0.42);
    outline: none !important;
    box-shadow: none !important;
}

form.search-form.input-group-addon + input.form-control:focus {
    border-color: rgba(240, 173, 78, 0.62);
}

form.search-form.form-group + .btn {
    padding: 10px 12px;
    float: right;
    border-radius: 0 3px 3px 0;
}

.panel-warning {
    border-color: rgba(240, 173, 78, 0.42);
}

button:hover {
    background-image: none;
}

.text-muted {
    font-weight: 100;
}

.amazon-message {
    font-family: monospace;
    color: #aaeab2;
    background: #444;
    white-space: normal;
    border-radius: 5px;
    overflow: auto;
    box-shadow: 0 0 8px #000 inset;
}

select[multiple], select[size] {
    height: 150px;
}

#ui_notifIt {
    padding: 0 !important;
    line-height: 26px;
    box-shadow: -5px 5px 7px #ccc, 5px 5px 7px #ccc;
    border-radius: 0;
    width: 475px !important;
    top: 15px;
    cursor: default;
    overflow: visible;
}

#ui_notifIt.error > p > strong {
    background-color: #f9c5c5;
    color: #ca1000;
}

#ui_notifIt.info > p > strong {
    background-color: #9adef5;
    color: #004258;
}

#ui_notifIt.success > p > strong {
    background-color: #c6f9bc;
    color: #273a02;
}

#ui_notifIt.warning > p > strong {
    background-color: #ffe58c;
    color: #ab5800;
}

#ui_notifIt > p {
    text-align: left;
    overflow: hidden;
    background: #f5f5f5;
    color: #666;
}

#ui_notifIt > p > span {
    padding: 15px 25px;
    display: block;
    text-align: center;
    font-weight: 100;
    line-height: 24px;
}

#ui_notifIt > p > b {
    color: #000;
}

#ui_notifIt > p > strong {
    display: block;
    padding: 8px 20px;
}

#ui_notifIt > p a,
#ui_notifIt > p a:hover {
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    line-height: 20px;
    color: #337ab7;
    border-bottom: 1px solid #9bc3e4;
}

#notifIt_close {
    position: absolute;
    top: -5px;
    padding: 0;
    right: -5px;
    border: 0;
    height: 35px;
    line-height: 35px;
    width: 35px;
    text-align: center;
    background: inherit;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    opacity: 0.85;
}

#notifIt_close:hover {
    opacity: 1;
}

#ui_notifIt.error #notifIt_close {
    background-color: #da4444;
}

#ui_notifIt.info #notifIt_close {
    background-color: #3fb1d8;
}

#ui_notifIt.success #notifIt_close {
    background-color: #76c367;
}

#ui_notifIt.warning #notifIt_close {
    background-color: #deb837;
}

#ui_notifIt pre {
    background: #444;
    border: 0;
    box-shadow: 1px 1px 7px #000 inset;
    color: #0eff00;
    white-space: normal;
    margin: 5px;
    border-radius: 0;
}

#ui_notifIt dl {
    max-height: 100%;
    overflow: auto;
}

#ui_notifIt dl dt {
    text-align: right;
    border-bottom: 1px solid #e8e5e5;
    line-height: 30px;
}

#ui_notifIt dl dd {
    text-align: left;
    border-bottom: 1px solid #e8e5e5;
    line-height: 30px;
}

.search-form dl dt {
    height: 35px;
    line-height: 35px;
    margin-bottom: 10px;
}

.search-form dl dd {
    height: 35px;
    line-height: 35px;
    margin-bottom: 10px;
}

.irs-from, .irs-to, .irs-single,
.irs-bar {
    background: #f0ad4e !important;
}

.irs-from:after, .irs-to:after, .irs-single:after {
    border-top-color: #f0ad4e !important;
}

.search-form dl dd .row div:first-child .toggle {
    margin-left: 0px;
}

.panel-body-yellow {
    background: #fff9e9;
}

.search-form dl .toggle {
    margin-left: 10px;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5px;
    z-index: 999;
    display: none;
    background: rgb(236, 236, 236);
    width: 100%;
    -webkit-animation: bg-progress-bar 0.5s linear 0s infinite;
    -moz-animation: bg-progress-bar 0.5s linear 0s infinite;
    -o-animation: bg-progress-bar 0.5s linear 0s infinite;
    animation: bg-progress-bar 0.5s linear 0s infinite;
    background-position: 0 0;
    background-repeat: repeat-x;
    background-size: 16px 8px;
    background-image: -webkit-linear-gradient(315deg, transparent, transparent 33%, rgba(0, 0, 0, .12) 33%, rgba(0, 0, 0, .12) 66%, transparent 66%, transparent);
    background-image: -moz-linear-gradient(315deg, transparent, transparent 33%, rgba(0, 0, 0, .12) 33%, rgba(0, 0, 0, .12) 66%, transparent 66%, transparent);
    background-image: -ms-linear-gradient(315deg, transparent, transparent 33%, rgba(0, 0, 0, .12) 33%, rgba(0, 0, 0, .12) 66%, transparent 66%, transparent);
    background-image: -o-linear-gradient(315deg, transparent, transparent 33%, rgba(0, 0, 0, .12) 33%, rgba(0, 0, 0, .12) 66%, transparent 66%, transparent);
    background-image: linear-gradient(315deg, transparent, transparent 33%, rgba(0, 0, 0, .12) 33%, rgba(0, 0, 0, .12) 66%, transparent 66%, transparent);
}

@-webkit-keyframes bg-progress-bar {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: -16px 0
    }
}

@-moz-keyframes bg-progress-bar {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: -16px 0
    }
}

@-o-keyframes bg-progress-bar {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: -16px 0
    }
}

@keyframes bg-progress-bar {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: -16px 0
    }
}

.results-block .label {
    font-size: 12px;
    font-weight: normal;
    padding: 0 15px;
    line-height: 16px;
    display: inline-block;
}

.results-block .table .label {
    margin: 10px 0 0 0;
    width: 100%;
}

.results-block .table > tbody > tr.first-row > td {
    padding-top: 30px;
    border-top: 5px solid #666;
}

.results-block .panel-heading.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    padding: 20px 20px;
    background: #f1f8cb;
    height: 60px;
}

.results-block .panel-heading {
    vertical-align: middle;
}

.results-block .panel-heading .label {
    margin-left: 20px;
    vertical-align: middle;
}

.results-block .label-success {
    border: 1px solid #39af39;
    color: #39af39;
    background: rgba(230, 245, 230, 0.48);
}

.results-block .label-danger {
    border: 1px solid #d9534f;
    color: #d9534f;
    background: rgba(217, 83, 79, 0.11);
}

#results .description {
    white-space: normal;
}

#results table td a {
    color: #000;
    display: inline-block;
    margin: 0 0 5px;
    text-decoration: none;
}

#results table tr:last-child td {
    padding-bottom: 50px;
}

#results pre {
    white-space: pre-wrap;
    font-size: 12px;
    font-family: serif;
    margin: 0;
}

.search-form .dl-horizontal dt {
    white-space: normal;
}

#results .price-label {
    line-height: 25px;
    white-space: nowrap;
    border-right: 2px solid;
    text-align: center;
    display: inline-block;
    min-width: 120px;
    font-size: 11px;
    margin: 0 10px 0 0;
    vertical-align: top;
}

#results .price-box {
    white-space: nowrap;
    display: block;
    margin: 0 0 10px;
}

#results .price-label.new {
    color: #004600;
    border-color: green;
    background: #e6f5e6;
}

#results .price-label.used {
    color: #ad6425;
    border-color: #e2a314;
    background: #fff7ea;
}

#results .price-box .price {
    color: #333;
    font-size: 13px;
    line-height: 25px;
    vertical-align: top;
    display: inline-block;
}

#results .table thead th {
    line-height: 24px;
}

#results .price .total-count {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    padding-right: 0;
    font-family: serif;
}

#results .table {
    border-top: 0;
    margin-bottom: 0;
}

.panel-heading.bordered {
    border: 1px solid #dddddd;
    padding: 20px;
    font-size: 12px;
    box-shadow: 0 0 13px #aaa;
    z-index: 9;
    position: relative;
}

.panel.no-border {
    border: 0;
    overflow: hidden;
    box-shadow: none;
}

.results-block {
    display: none;
}

.results-block .panel-heading .badge {
    margin-left: 10px;
}

.results-block .panel-heading .badge {
    padding: 0 10px;
    line-height: 18px;
    font-weight: normal;
    font-size: 12px;
}

.type-form > * {
    margin: 0 0 5px 0;
}

a {
    cursor: pointer;
}

td.product-status i {
    border: 1px solid;
    border-radius: 999px;
    padding: 0;
    height: 30px;
    line-height: 30px;
    width: 30px;
    text-align: center;
}

td.product-status.pending i:before {
    content: "\231b";
}

td.product-status.ready i:before {
    content: "\e013";
}

td.product-status.pending {
    color: #f0ad4e;;
}

td.product-status.ready {
    color: #39af39;
}

td.product-status.pending {
    background-color: #fcf8e3;
}

td.product-status.ready {
    background-color: #dff0d8;
}

#results table td a.remove {
    color: #900;
    white-space: nowrap;
    display: block;
}

#results table td a.add2jobs {
    color: #009930;
    white-space: nowrap;
    display: block;
}

#results table td a.add2jobs:hover,
#results table td a.remove:hover {
    text-decoration: underline;
}

.remove-all {
    color: #000;
    border: 1px solid #000;
    background: #d4d4d4;
    cursor: pointer;
}

#results #pagination {
    z-index: 7;
    position: relative;
}

#results .results-body {
    box-shadow: 0 0 13px #aaa;
    z-index: 8;
    position: relative;
}

.search-form [name="brand"] {
    width: 65%;
    margin-left: 10px;
}

ul.paginator {
    position: absolute;
    white-space: nowrap;
    overflow: auto;
    left: 70%;
    right: 0;
    bottom: 0;
    text-align: center;
    margin: 0 10px;
}

.sort .btn-group.bootstrap-select {
    margin-left: 10px;
}

.mCSB_horizontal.mCSB_inside > .mCSB_container {
    margin-right: 0;
    margin-bottom: 20px !important;
}

ul.paginator li {
    cursor: pointer;
    display: inline-block;
    margin: 0 1px;
}

ul.paginator li.active {
    cursor: text !important;
}

#results #pagination .current-info {
    width: 70%;
    padding: 0;
    font-size: 16px;
    border: 1px solid #ddd;
    border-top: none;
    background: #f1f1f1;
    border-radius: 0 0 15px 15px;
    height: 120px;
    line-height: 40px;
    position: relative;
}

#results #pagination .page-title {
    width: 65%;
    vertical-align: middle;
    line-height: 90px;
    border-right: 1px solid #ddd;
    text-align: center;
    font-size: 23px;
    color: #e88800;
    text-shadow: 0 2px #fff;
    padding: 0 20px 0 50px;
    margin: 15px 0;
    overflow: hidden;
    height: 90px;
    text-overflow: ellipsis;
}

#results #pagination .counters {
    width: 35%;
    padding: 20px;
}

#results #pagination .current-info .current {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    color: #000;
}

#results #pagination .current-info .current span {
    border: 1px solid #39af39;
    color: #39af39;
    background: rgba(230, 245, 230, 0.48);
    font-weight: bold;
}

#results #pagination .current-info {
    color: #888;
}

#results #pagination .current-info span {
    width: 34px;
    height: 34px;
    margin: 5px 0 0 0;
    border-radius: 999px;
    text-align: center;
    vertical-align: middle;
    line-height: 34px;
    display: inline-block;
    font-size: 16px;
}

#results #pagination .next-info {
    position: relative;
    width: 30%;
    padding: 0;
    font-size: 16px;
    border: 1px solid #ddd;
    border-top: none;
    background: rgba(238, 238, 238, 0.22);
    border-radius: 0 0 15px 0;
    border-left: none;
    line-height: 70px;
    box-shadow: 0 0 15px #ddd inset;
    overflow: hidden;
}

#results #load-next {
    width: 100%;
    height: 70px;
    border: 0;
    background: #f0ad4e;
    color: #fff;
    cursor: pointer;
    padding: 0 30px;
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 70px;
    text-transform: uppercase;
    box-shadow: 0 0 10px #c77215 inset;
    text-shadow: 0 2px #c37c1e;
    transition: .3s all ease;
}

#results #load-next:hover {
    background: #f09a34;
}

#results #load-next i:before {
    transition: .3s all ease;
}

#results #load-next:hover i:before {
    margin-left: 10px;
}

#results #load-next span {
    width: 50px;
    height: 50px;
    margin: 10px 0 0 0;
    border-radius: 999px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    display: inline-block;
    font-size: 36px;
    background: #fff;
    float: right;
    color: #d27e07;
    font-weight: normal;
    text-shadow: none;
}

.bootstrap-select {
    display: inline-block !important;
}

.search-form dl [data-toggle="modal"] {
    margin-left: 10px !important;
    padding-right: 20px;
    position: relative;
    width: 65%;
    text-align: left !important;
    overflow: hidden;
    padding-left: 10px;
}

.search-form dl [data-toggle="modal"] span {
    line-height: 1.35em;
    background-repeat: no-repeat;
    background-position: 0 50%;
    width: 100%;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    text-overflow: ellipsis;
}

.search-form dl [data-toggle="modal"]:after {
    content: "\f0d7";
    position: absolute;
    font-family: 'FontAwesome';
    right: 10px;
    top: 7px;
}