.blog-cat-view,
.blog-post-view,
.blog-index-list .main-wrapper{
    background-color: #E6E6FA;
}

.comment-class{
    margin-top: 20px;
}

.blue_name{
    color: #020EBA;
    font-size: 15px;
}

.col-lg-8.sidebar,
.col-lg-4.sidebar{
    margin: 0px;
    padding: 0px;
    height: 145px;
}

.col-right.sidebar.block,
.blog-post-view .sidebar,
.blog-index-list .sidebar{
    background:  white;
    height:  100%;
}

.postWrapper {
    margin-bottom: 25px;
    float: left;
    width: 100%;
}

.sidebar_comments{
    padding-top: 0px;
    margin-top: 5px;
    height: auto  ;
    width: 100%;
    overflow: hidden;

}

.sidebar_comments.row{
    padding-left: 10px;
    height: 138px;
}

.sidebar_comments img{
    width: 90%;
    float: left;
    margin-left: 5px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-right: 5px;
}

.postTitle {
    margin-bottom: 0px;
}

.col-xs-12.col-sm-9.col-md-9.col-lg-9.main-container{
    background: white;
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 20px;
}

.postTitle h2 {
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    color:#666;
    font-weight: bold;
}

.post_image {
    float: left;
    margin-right: 15px;
    height: 100%;
}


.postDetails h3 {
    font-size: 13px;
    margin: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 2px;
    padding-left: 0px;
    color: #888;
    font-style: italic;
    font-weight: 100;
}
.blog-index-list .sorter .sort-by { margin: 0;}
.postTitle a { color: #666;}

.postTitle a:hover {
}
.postContentText{
    padding-top: 5px;
    height: 100%;
    text-overflow: ellipsis;
    background: white;
}

.postContentText img{
    float: left;
    margin: 0 10px 10px 0
}

.postContent {
    padding-top: 5px;
    padding-bottom: 0px;
    height: 120px;
    overflow: hidden;
    text-overflow: ellipsis
}

.postContent a.aw-blog-read-more {
    display: none;
    margin-left: 10px;
}

.postDetails {
    padding-top: 10px;
    margin-bottom: 0px;
}

.postBookmarks {
    padding-bottom: 10px;
}

.postBookmarks h4 {

    font-size: 12px;
    font-weight: bold;
}

.commentWrapper {
    padding-bottom: 15px;
}

.commentContent {
    padding-bottom: 0px;
}

.commentDetails {
    margin-bottom: 5px;
    padding: 0px;
}

.commentDetails h4.username {
    display: inline;
}

.postError {
    font-size: 16px;
}

.tags {
    font-weight: bold;
    padding-bottom: 10px;
}

.tags UL {
    display: inline;
}

.tags UL LI {
    font-weight: normal;
    display: inline;
    padding-right: 6px;
}

.tags h4 {
    font-size: 12px;
    font-weight: bold;
}

.menu-tags, .menu-categories, .menu-recent {
    margin: 0;
}

.menu-tags h5, .menu-categories h5, .menu-recent h5 {
    
}

.block-blog .menu-tags UL LI {
    display: inline;
    padding: 2px;
    margin-left: 10px;
}

.block-blog .menu-categories UL LI {
    margin-left: 10px;
}

.block-blog .menu-recent UL LI {
    margin-left: 10px;
}
.tagcloud {
    /* text-align:center; */
}

.tag-count-1 {
    font-size: 1em !important;
}

.tag-count-2 {
    font-size: 1.2em !important;
}

.tag-count-3 {
    font-size: 1.4em !important;
}

.tag-count-4 {
    font-size: 1.6em !important;
}

.tag-count-5 {
    font-size: 1.8em !important;
}

.tag-count-6 {
    font-size: 2em !important;
}

.tag-count-7 {
    font-size: 2em !important;
}

.tag-count-8 {
    font-size: 2em !important;
}

.tag-count-9 {
    font-size: 2em !important;
}

.tag-count-10 {
    font-size: 2em !important;
}

.block-blog .head h4 {
    padding-left: 20px;
}

.block-blog .block-title strong {

}

.postWrapper .poster {
    display: inline;
}

.input-box.aw-blog-comment-area {
    width: 100%;
}

.widget-latest li {
    font-size: 12px;
    padding: 5px 10px;
}

.block-blog .menu-categories {
    margin: 0 0 15px;
}

A.awblog_current_comment {
    text-decoration: none !important;
    font-weight: bold !important;
}